.mainMatchesDiv {
    display: inline-flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
}

.matchesNav {
    display: flex;
    flex-direction: row;
    background-color: #66D9D9;
    color:black;
    border-right: solid 1px gray;
}

.matches {
    background-color: white;
    height: 1400px;
    border-right: solid 1px grey;
}

.imgDiv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: scroll;
    height: 100vh;
    grid-column-gap: 30px;
}

.imgDiv> img {
    margin: auto;
    height: 90px;
    /* width: 110px; */
    border-radius: 10px;
    
}

